@tailwind base;
@tailwind components;
@tailwind utilities;

.black-overlay{
    background-color: rgba(0,0,0,.7);
}
.image-overlay{
    background-image: linear-gradient(to bottom , rgba(255,255,255,0) 70% , rgba(0,0,0,1));
}


  .sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }